* {
    box-sizing: border-box;
}

.home-content {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.home-header {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 1354px;
    background-color: grey;
    padding: 10px;
}

.home-header-container {
    width: 1000px;
    height: 200px;
    background-color: black;
}

.home-section-one {
    display: flex;
    background-color: rgb(240, 239, 240);
    width: 1354px;
    height: 500px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-sec-one-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    height: 500px;
    background-color: none;
}

.home-section-two {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1354px;
    background-color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.home-sec-two-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1100px;
    height: 450px;
    background-color: none;
}

.home-section-three {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1354px;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.home-sec-three-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: none;
}

.home-secOne-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 390px;
    border: none;
    background-color: none;
    padding: 1px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.home-secOne-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    height: 475px;
    border: none;
    background-color: none;
    padding: 1px;
}

.home-secOne-imgs-pOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    height: 463px;
    background-color: none;
    padding: 2px;
    border: none;
}

.home-secOne-imgs-pOne div:first-of-type {
    background-color: none;
    width: 285px;
    height: 240px;
    border: none;
}

.home-secOne-imgs-pOne div:first-of-type img {
    max-width: 284px;
    height: 239px;
    border: 2px solid black;
}

.home-secOne-imgs-pOne div:last-of-type {
    background-color: none;
    width: 285px;
    height: 215px;
    border: none;
}

.home-secOne-imgs-pOne div:last-of-type img {
    max-width: 284px;
    height: 214px;
    border: 2px solid black;
}

.home-secOne-imgs-pTwo {
    background-color: none;
    width: 300px;
    height: 463px;
    border: none;
}

.home-secOne-imgs-pTwo img {
    max-width: 299px;
    height: 462px;
    border: 2px solid black;
}

.home-secTwo-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    width: 900px;
    height: 100px;
    background-color: none;
    border: none;
}

.home-secTwo-cards {
    display: flex;
    flex-direction: row;
    height: 275px;
    width: 1000px;
    justify-content: space-evenly;
    border: none;
    background-color: none;
    padding: 2px;
}

.home-secTwo-cardOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: none;
    padding: 1px;
    border: 2px solid black;
}

.home-secTwo-cardOne span:first-of-type {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

.home-secTwo-cardOne span:last-of-type {
    font-size: 15px;
    text-align: center;
    color: black;
    padding-top: 5px;
}

.home-secTwo-cardTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: none;
    padding: 1px;
    border: 2px solid black;
}

.home-secTwo-cardTwo span:first-of-type {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

.home-secTwo-cardTwo span:last-of-type {
    font-size: 15px;
    text-align: center;
    color: black;
    padding-top: 5px;
}

.home-secTwo-cardThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: none;
    padding: 1px;
    border: 2px solid black;
}

.home-secTwo-cardThree span:first-of-type {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

.home-secTwo-cardThree span:last-of-type {
    font-size: 15px;
    text-align: center;
    color: black;
    padding-top: 5px;
}

.home-secThree-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 450px;
    background-color: none;
}

.home-secThree-title {
    text-align: center;
    width: 800px;
    height: 100px;
    background-color: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.home-secThree-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    text-align: center;
    width: 450px;
    height: 425px;
    padding: 2px;
    border: 3px solid purple;
    background-color: white;
}

.home-secThree-content span:first-of-type {
    font-weight: bold;
}

.home-secThree-btn {
    font-size: 1rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: white;
    cursor: pointer;
    background-color: rgb(154, 69, 204);
}