* {
    box-sizing: border-box;
}

.home-content {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 1354px;
    background-color: none;
    padding: 10px;
}

.home-header-container {
    width: 1000px;
    height: 200px;
    background-color: none;
}

.home-section-one {
    display: flex;
    background-color: none;
    width: 1354px;
    height: 250px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    flex-direction: column;
}

.home-sec-one-container {
    width: 1000px;
    height: 200px;
    background-color: none;
}

.home-section-two {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 1354px;
    background-color: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.home-sec-two-container {
    width: 1000px;
    height: 200px;
    background-color: none;
}

.home-section-three {
    display: flex;
    flex-direction: column;
    height: 3;
    width: 1354px;
    background-color: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.home-sec-three-container {
    width: 1000px;
    height: 300px;
    background-color: none;
}