* {
    box-sizing: border-box;
}

.landing-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 239, 248);
}

.landing-header {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 400px;
    background-color: none;
    padding: 10px;
    margin-bottom: 10px;
}

.landing-header-container {
    color: rgb(99, 7, 99);
    background-color: rgb(241, 233, 245);
}

.landing-section-one {
    display: flex;
    background-color: rgb(241, 233, 245);
    width: 1354px;
    height: 250px;
    padding: 10px;
    justify-content: center;
    padding-top: 25px;
    flex-direction: column;
}

.landing-section-one-title {
    display: flex;
    flex-direction: row;
    color: rgb(110, 8, 110);
    justify-content: space-between;
    width: 100px;
    height: 30px;
}

.landing-section-one-title h2 {
    font-size: 20px;
    color: rgb(99, 7, 99);
}

.landing-section-one-parent-container {
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 250px;
    justify-content: space-evenly;
}

.landing-sec-one-container-one {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    color: rgb(67, 14, 92);
    border: 1px solid rgb(67, 14, 92);
    border-radius: 15px;
    height: 190px;
    padding: 5px;
    justify-content: space-between;
}

.landing-sec-one-cOne-text {
    padding: 10px;
}

.landing-sec-one-cOne-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.landing-sec-one-cOne-button button {
    font-size: 15px;
    padding: 5px 0px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(154, 69, 204);
    color: white;
}

.landing-sec-one-container-two {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    color: rgb(67, 14, 92);
    border: 1px solid rgb(67, 14, 92);
    border-radius: 15px;
    height: 190px;
    padding: 5px;
    justify-content: space-between;
}

.landing-sec-one-cTwo-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-sec-one-cTwo-button button {
    font-size: 15px;
    padding: 5px 0px;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 90px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(154, 69, 204);
    color: white;
}

.landing-section-two {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 1354px;
    background-color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.landing-sec-two-container-one {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 190px;
    width: 700px;
    background-color: rgb(210, 182, 223);
    border-radius: 15px;
    padding: 5px;
    color: white;
}

.landing-sec-two-container-one button {
    font-size: 20px;
    padding: 5px 0px;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 250px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(235, 152, 166);
    color: white;
}

.landing-section-three {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1354px;
    background-color: rgb(230, 216, 236);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.landing-section-three-title {
    display: flex;
    flex-direction: row;
    color: rgb(67, 14, 92);
    justify-content: space-between;
    width: 1300px;
    height: 50px;
}

.landing-section-three-parent-container {
    display: flex;
    flex: row;
    height: 450px;
    width: 1020px;
    justify-content: space-between;
}

.landing-sec-three-container-one {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 700px;
    background-color: white;
    border: 1px solid rgb(67, 14, 92);
    border-radius: 15px;
    padding: 5px;
}

.landing-sec-three-cOne-title h2, .landing-sec-three-cTwo-title h2 {
    color: rgb(99, 7, 99);
}

.landing-sec-three-cOne-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.landing-sec-three-container-one-loader {
    border: 10px solid rgb(223, 223, 223);
    border-top: 10px solid rgb(67, 14, 92);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.3s linear infinite;
}

.landing-sec-three-container-two {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    border: 1px solid rgb(67, 14, 92);
    border-radius: 15px;
    padding: 5px;
    justify-content: space-between;
    background-color: white;
}

.landing-sec-three-cTwo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.landing-sec-three-container-two-loader {
    border: 10px solid rgb(223, 223, 223);
    border-top: 10px solid rgb(67, 14, 92);
    border-radius: 50%;
    width: 85px;
    height: 85px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

@media(max-width: 1353px) {
    .landing-section-one, .landing-section-two, .landing-section-three {
        width: 1170px;
        background-color: none;
    }

}

