.lessons-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lessons-section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 450px;
    max-width: 1000px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(44, 1, 65);
    position: relative;
}

.lessons-section-two{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-width: 1000px;
    margin-bottom: 5px;
    text-align: center;
}

.lessons-sec-one-title{
    height: 100px;
    width: 450px;
    border-radius: 5px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    font-weight: 700;
    font-size: large;
}

.lessons-sec-two-content{
    min-height: 300px;
    width: 800px;
}

@media(max-width: 805px) {
    .lessons-section-one, .lessons-section-two{
        width: 700px;
    }

    .lessons-sec-two-content {
        width: 700px;
    }
}

@media(max-width: 715px) {
    .lessons-section-one, .lessons-section-two{
        width: 600px;
    }

    .lessons-sec-two-content {
        width: 600px;
    }
}

@media(max-width: 615px) {
    .lessons-section-one, .lessons-section-two{
        width: 500px;
    }

    .lessons-sec-two-content {
        width: 500px;
    }
}

@media(max-width: 515px) {
    .lessons-section-one, .lessons-section-two{
        width: 400px;
    }

    .lessons-sec-one-title {
        width: 350px;
    }

    .lessons-sec-two-content {
        width: 400px;
    }
}