.lesson-tbl {
    border-collapse: collapse;
    width: 100%;
}

.lesson-tbl td {
    border: 1px solid #ddd;
    padding: 8px;
}

.lesson-tbl th {
    padding: 8px;
}

.lesson-tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(142, 54, 168);
    color: white;
}

.lesson-tbl-view-btn {
    cursor: pointer;
    background: none;
    border: none;
}
