.nav-content{
    z-index: 50;
    height: 60px;
    max-height: 150px;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 5, 80);
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.nav-left-logo {
    width: 100px;
    padding: 5px;
}

.nav-left-logo h1 {
    color: white;
    font-size: 35px;
}

.nav-left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    padding: 5px;
}

.nav-left-content h2 {
    color: rgb(244, 226, 248);
    font-size: 15px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-right {
    padding: 5px;
    color: rgb(244, 226, 248);
    font-size: 20px; 
}

.nav-container-mobile {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 5, 80);
    display: none;
}

.nav-mobile-left {
    display: flex;
    width: 100px;
}

.nav-mobile-menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 2px;
}

.nav-mobile-menu-div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    margin-left: 3px;
}

.nav-mobile-middle {
    display: flex;
    width: 100px;
}

.nav-mobile-right {
    display: flex;
    width: 100px;
}

@media(max-width: 768px) {
    .nav-container-mobile {
        display: flex;
        flex-direction: row;
    }

    .nav-container{
        display: none;
    }
}